.auth {
  display: table;
  margin: 30px auto 15px;
  max-width: 330px;

  .form-auth {
    form {
      padding: 10px;
    }

    h2 {
      font-size: 1.75rem;
      text-align: center;
    }

    input.input-first {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input.input-inside {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    input.input-last {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  
  #user-menu {
    margin-top: 0;
  }
}
